:root {
  --color-hover-primary: #cce0ff;
  --color-hover-secondary: #dcdfe4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  height: 100%;
  fill: inherit;
}

// Page main section
.page-main {
  padding-left: 40px;
  padding-right: 24px;
  width: 100%;
  height: calc(100dvh - 56px);
  // overflow: hidden;

  .page-main--header {
    margin-top: 24px;
    width: 100%;
    height: 184px;
  }
  .page-main--content {
    width: 100%;
    max-width: 920px;
    display: flex;
    gap: 12px;
    height: calc(100dvh - 56px - 184px - 24px);
    overflow-y: scroll;

    .task-column {
      width: 270px;
      flex-shrink: 0;
      background-color: #f7f8f9;
      .task-column--header {
        width: 100%;
        font-size: 12px;
        color: #626f86;
        font-weight: 600;

        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 8px;
        padding-right: 8px;

        position: sticky;
        top: 0px;
        background-color: #f7f8f9;
        z-index: 100;
      }
      .task-column--content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        overflow: auto;
      }
    }
  }
}
